body{
    background: rgb(37, 37, 243);
}

header{
    font: normal 20px Arial;
    text-align: center;
    color: white;
}

h1{
    text-shadow: 3px 3px 5px black;
}

section{
    font: normal 20px arial;
    background: rgb(243, 241, 241);
    width: 500px;
    position: relative;
    box-shadow: 5px 5px 10px;
    border-radius: 5px;    
    margin: auto;
    padding: 10px;
}



footer{
    color: white;
    text-align: center;
    position: relative;
}